@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@import 'tailwindcss';

:root {
	--primaryBg: #f5f5f2;
	--primaryCard: #ffffff;
	--primaryText: #424141;
	--primaryColor: #C65375;
	--logoPink: #C65375;
	--buttonHover: #C65375;
	--tagHover: #C65375;
	--borderBg: #ddd;
	--button: #C25072;
	--button-dark: #8d304c;
	--secColor: #D7B06C;
	--font-primary: 'Lora', serif;
	--font-secondary: 'Newsreader', serif;
	--sectionGapLg: 64px;
	--sectionGapSm: 44px;
	--pagePadX: 80px;
}

@theme inline {
	--color-primaryBg: var(--primaryBg);
	--color-primaryCard: var(--primaryCard);
	--color-primaryText: var(--primaryText);
	--color-primaryColor: var(--primaryColor);
	--color-logoPink: var(--logoPink);
	--color-buttonHover: var(--buttonHover);
	--color-tagHover: var(--tagHover);
	--color-borderBg: var(--borderBg);
	--color-button: var(--button);
	--color-button-dark: var(--button-dark);
	--color-secColor: var(--secColor);
	--font-primary: var(--font-primary);
	--font-secondary: var(--font-secondary);
	--spacing-sectionGapLg: var(--sectionGapLg);
	--spacing-sectionGapSm: var(--sectionGapSm);
	--spacing-pagePadX: var(--pagePadX);

	/* custom breakpoints */
	--breakpoint-xs: 30rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: 96rem;
}

body {
	font-family: var(--font-primary);
}

/* Hero Image Float Animation */
@keyframes float {
	0%, 100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
}

.animate-float {
	animation: float 6s ease-in-out infinite;
}

/* SWIPER JS CSS */
.swiper-pagination-bullet {
	/* background-color: var(--color-borderBg) !important; */
}
.swiper-pagination-bullet-active {
	background-color: var(--color-primaryText) !important;
}
